{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'bom/style.css' %}" />

Parts List

{% endblock %}

{% block content %}
<a href="/bom/export/">[Export]</a>
<ul>
<table class="highlight">
    <thead>
        <tr>
            <th>Part Number</th>
            <th>Description</th> 
            <th>Revision</th>
            <th>Manufacturer</th>
            <th>MPN</th>
        </tr>
    </thead>
    <tbody>
        {% for part in parts %}
        <tr>
            <td><a href="/bom/{{ part.id }}/">{{ part.full_part_number }}</a></td>
            <td>{{ part.description }}</td>
            <td>{{ part.revision }}</td>
            <td>{{ part.manufacturer }}</td>
            <td>{{ part.manufacturer_part_number }}</td>
            <!-- <td><a href="/bom/{{ part.id }}/part_match/">Octopart Match</a></td> -->
        </tr>
        {% endfor %}
    </tbody>
</ul>
{% endblock %}