<h1><a href="/bom/"><</a> Indented BOM</h1>
<h2><a href="/bom/{{ part_id }}/export/">Export Indented</a></h2>
<h2>Est. Cost: {{ cost }}</h2>
<ul>
<table style="width:100%; text-align: left;">
    <tr>
        <th>Level</th>
        <th>Part Number</th>
        <th>Qty</th>
        <th>Description</th> 
        <th>Revision</th>
        <th>Manufacturer</th>
        <th>MPN</th>
        <th>Cost</th>
    </tr>
    {% for subpart in parts %}
    <tr>
        <td>
        {% with ''|center:subpart.indent_level as range %}
        {% for _ in range %}
            &nbsp;
        {% endfor %}
        {% endwith %}
        {{ subpart.indent_level }}
        </td> 
        <td><a href="/bom/{{ subpart.part.id }}/">{{ subpart.part.full_part_number }}</a></td>
        <td>{{ subpart.quantity }}</td> 
        <td>{{ subpart.part.description }}</td> 
        <td>{{ subpart.part.revision }}</td>
        <td>{{ subpart.part.manufacturer }}</td>
        <td>{{ subpart.part.manufacturer_part_number }}</td>
        <td>{{ subpart.part.unit_cost }}</td>
    </tr>
    {% endfor %}
</ul>