{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<h5>Upload Parts</h5>

<p><i>To batch add parts, upload a csv that contains at least three columns with the headers: 'part_class', 'description', and 'revision' at a minimum. You may also specify a 'manufacturer_part_number' and a 'manufacturer'. If neither is specified the manufacturer_part_number will default to the generated part number, and the manufacturer will default to your organization.</i></p>
<form action="{% url 'upload-parts' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col s8 file-field input-field">
            <div class="green lighten-1 btn">
                <span>File</span>
                {{ form.file }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload a file.">
                {{ form.file.errors }}
            </div>
        </div>
        <div class="col s1 input-field">
            <input class="green lighten-1 btn" type="submit" value="Upload"/>

        </div>
    </div>
</form>
<a class="btn green lighten-1" href="javascript:history.back()">Cancel</a>
{% endblock %}