#!/bin/bash
# 1. Update secrets from .env.prod
gcloud secrets delete django_settings --quiet
gcloud secrets create django_settings --data-file .env.prod
gcloud secrets add-iam-policy-binding django_settings \
    --member <YOUR_COMPUTE_SA> \
    --role roles/secretmanager.secretAccessor
gcloud secrets add-iam-policy-binding django_settings \
    --member <YOUR_CLOUD_BUILD_SA> \
    --role roles/secretmanager.secretAccessor

# 2. Run Cloud Build
gcloud builds submit --config cloudmigrate.yaml --substitutions _INSTANCE_NAME=<INSTANCE_NAME>,_REGION=<REGION>

# 3. Deploy
SERVICE_URL=$(gcloud run services describe indabom --platform managed \
    --region <REGION> --format "value(status.url)")

gcloud run deploy indabom \
    --platform managed \
    --region <REGION> \
    --image <IMAGE_URL> \
    --add-cloudsql-instances <CLOUDSQL_URL> \
    --allow-unauthenticated \
    --set-env-vars CLOUDRUN_SERVICE_URL=$SERVICE_URL
    