{% if user.is_superuser and user.is_authenticated %}
    <li><a title="IndaBOM | Admin" href="/admin/">Admin</a></li>
{% endif %}

{% if user.is_authenticated %}
    <li><a title="IndaBOM | Feedback" href="https://forms.gle/4CUQuBcfBJ4eGXDW8" target="_blank">Feedback</a></li>
{% endif %}

{% if user.is_authenticated %}
    <li><a title="IndaBOM | Log Out" href="{% url 'logout' %}">Logout</a></li>
{% endif %}

{% if not user.is_authenticated %}
    <li {% if name == 'install' %}class="active"{% endif %}><a title="IndaBOM | Install" href="{% url 'install' %}">Install</a></li>
    <li {% if name == 'about' %}class="active"{% endif %}><a title="IndaBOM | About" href="{% url 'about' %}">About</a></li>
    <li {% if name == 'signup' %}class="active"{% endif %}><a title="Sign Up" href="{% url 'signup' %}">Sign Up</a></li>
    <li {% if name == 'login' %}class="active"{% endif %}><a title="IndaBOM | Log In" href="{% url 'login' %}">Login</a></li>
{% endif %}