{% extends 'indabom/base.html' %}

{% load materializecss %}
{% block head-title %}Select a plan{% endblock %}
{% block title %}Select a plan{% endblock %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="section center">
            <h1 class="">Upgrade to IndaBOM {{ product.name }}</h1>
            <p>Gain access to multi-user organizations, prioritized support, and fully managed BOM management software.</p>
        </div>

        <div class="section center">
            <div class="container ">
                <form action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col s12">
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            {{ form|materializecss }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field" style="display: inline-block">
                                <input id="unit" name="unit" type="number" class="validate" value="1"
                                       min="1" style="font-size: 1.64rem;">
                                <label for="unit">Users</label>
                            </div>
                            <div class="input-field" style="display: inline-block">
                                <h5><span>&nbsp;=&nbsp;</span><span
                                        id="finalValue">${{ human_readable_price|floatformat:"2g" }}</span><span>&nbsp;/ month</span>
                                </h5>
                            </div>
                            <button class="waves-effect waves-light btn green lighten-1" style="min-width:150px;" type="submit">Continue with {{ product.name }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        $('#unit').on('change input', function () {
            const users = $('#unit');
            const val = users.val() * {{human_readable_price}};
            const text = `$${val}`;
            console.log(users.val(), text);
            $('#finalValue').text(text);
        });
    </script>
{% endblock script %}