{% extends 'indabom/base.html' %}

{% load materializecss %}
{% block head-title %}Checkout cancel{% endblock %}
{% block title %}Checkout cancel{% endblock %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="section center">
            <h1 class="">Checkout cancelled</h1>
        </div>

        <div class="section center">
            <div class="container ">
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock script %}