{% extends 'indabom/base.html' %}

{% load materializecss %}
{% block head-title %}Checkout cancel{% endblock %}
{% block title %}Checkout cancel{% endblock %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="section center">
            <h1 class="">Checkout cancelled</h1>
        </div>

        <div class="section center">
            <div class="container ">
                
                <p class="flow-text">
                    You have successfully stopped the payment process.
                    <strong>No charge has been made</strong> to your account.</strong>
                </p>

                <a href="{% url 'index' %}" class="waves-effect waves-light btn green lighten-1">
                    <i class="material-icons left">home</i> Return to Home
                </a>
                <p></p>
                <div class="divider"></div>

                <div class="support-section" style="margin-top: 30px;">
                    <h5 class="light">Need Assistance?</h5>
                    <p>If you cancelled due to a technical issue or a question, we are here to help!</p>

                    <a href="mailto:support@indabom.com" class="btn waves-effect waves-light green lighten-1">
                        <i class="material-icons left">email</i> Email Support
                    </a>

                </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock script %}