{% extends 'base.html' %}

{% block title %}Install{% endblock %}
{% block head-title %}Install{% endblock %}

{% block content %}
{% load staticfiles %}
<div class="section">
    <!-- <h3 class="col s12 light center header">Introduction</h3> -->
    <p class="center">
        Don't want to use our <a href="{% url 'signup' %}">hosted version</a>? No problem, IndaBOM is open source. 
        Developers, hackers, and makers can also install the underlying bill of materials product, called <a href="https://pypi.org/project/django-bom/" target="_blank">django-bom</a>, locally onto your machine, or host it on your own web server. 
    </p>
    <p class="center">
        Installation instructions are available on <a href="https://github.com/mpkasp/django-bom" target="_blank">github</a>, and to make things even easier, one of our awesome contributors, Tathagata, put together some videos to help you get started.
    </p>
    <p class="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fG8wr01KzV0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </p>
    <p class="center">
        Can't get enough? Click <a href="https://www.youtube.com/playlist?list=PL1CMqHkHBbofYPKcsrFPYn5ZB0CCWmypY">here</a> for an introduction, local usage, and more!
    </p>
</div>
{% endblock %}