{% extends 'base.html' %}

{% load materializecss %}
{% block head-title %}Forgot Your Password?{% endblock %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    {% load staticfiles %}
    <div class="section center">
    <div style="display: inline-block;">
        <h5 class="">Forgot Your Password?</h5>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col s12">
                    {{ form|materializecss }}
                    <button class="waves-effect waves-light btn green lighten-1" style="min-width:150px" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}