@import url('https://fonts.googleapis.com/css?family=Roboto');

td {
    font-size: .75em !important;
    padding: 5px 5px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.info {
    color: red;
}